---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import Favicon from '../../public/favicon.png';
import LibraryPage from '../../public/librarypage.png';
import StorePage from '../../public/storepage.png';
import DeckImage from '../../public/deck.png';
import CodeSnippet from '../../public/code-snippet.png';
---

<Layout title="OpenGameInstaller">
	<main class="animate-fade-in flex justify-center items-center min-h-[40rem] w-screen lg:min-h-screen flex-col gap-2 p-0 m-0">
		<Image class="w-64 drop-shadow-xl" src={Favicon} alt="OpenGameInstaller Logo" />
		<h1 class="font-archivo font-semibold text-3xl lg:text-5xl text-transparent bg-clip-text bg-gradient-to-b from-accent to-accent-dark text-center">OpenGameInstaller</h1>	
		<h2 class="font-open-sans font-semibold">The Next-Generation Game Manager</h2>
		<div class="mt-4 flex flex-col lg:flex-row justify-center items-center gap-4 animate-fade-in-pop">
			<a href="appearance-none" data-download>
				<button class="bg-accent-dark rounded-lg px-6 py-4 font-open-sans text-white flex justify-center items-center gap-2 font-semibold transition-all hover:bg-accent hover:shadow-2xl">
					<span class="material-symbols-outlined">
						download
					</span>
					Download
				</button>
			</a>

			<a class="appearance-none" href="./docs/">
				<button class="bg-transparent rounded-lg px-6 py-4 font-open-sans text-black flex justify-center items-center gap-2 font-semibold hover:bg-slate-200 transition-colors">
					<span class="material-symbols-outlined">
						article
					</span>
					Documentation
				</button>
			</a>

		</div>
	</main>
	<div class="w-full min-h-[40rem] lg:min-h-screen bg-slate-200 rounded-t-[4rem] -mt-12 p-8 lg:p-24 flex justify-center items-center flex-col animate-fade-in">
		<div class="flex justify-center items-center flex-col lg:flex-row gap-8">
			<Image class="sm:min-w-64 w-full lg:min-w-[50%] shadow-lg rounded-lg object-cover hover:scale-105 transition-all hover:shadow-2xl" src={LibraryPage} alt="OpenGameInstaller Library" />
			<div class="flex flex-col justify-center items-start lg:pl-6 gap-4 h-full">
				<h1 class="font-archivo font-semibold text-2xl text-center w-full lg:text-left lg:text-5xl text-accent-dark">Your Library, All in One Spot</h1>
				<p class="lg:pr-8 text-lg lg:text-2xl text-center lg:text-left font-open-sans font-medium">No matter how many games you have from different sources, we organize them all and help you manage them.</p>
			</div>
		</div>
	</div>
	<div class="w-full min-h-[40rem] lg:min-h-screen bg-slate-100 rounded-t-[4rem] -mt-12 p-8 lg:p-24 flex justify-center items-center flex-col animate-fade-in">
		<div class="flex justify-center items-center flex-col-reverse lg:flex-row gap-8">
			<div class="flex flex-col justify-center items-start lg:pr-6 gap-4 h-full">
				<h1 class="font-archivo font-semibold text-2xl text-center w-full lg:text-left lg:text-5xl text-accent-dark">Discover Hundreds of Games</h1>
				<p class="lg:pr-8 text-lg lg:text-2xl font-open-sans font-medium text-center lg:text-left">Search Steam's entire game catalog plus your addons' catologs and pick and download your favorite games!</p>
			</div>
			<Image class="min-w-64 w-full lg:min-w-[50%] shadow-lg rounded-lg object-cover hover:scale-105 transition-all hover:shadow-2xl" src={StorePage} alt="OpenGameInstaller Store Page" />
		</div>
	</div>
	<div class="w-full min-h-[40rem] lg:min-h-screen bg-slate-200 rounded-t-[4rem] -mt-12 p-8 lg:p-24 flex justify-center items-center flex-col animate-fade-in">
		<div class="flex justify-center items-center flex-col lg:flex-row gap-8">
			<Image class="min-w-64 w-full lg:min-w-[50%] shadow-lg rounded-lg object-cover hover:scale-105 transition-all hover:shadow-2xl" src={CodeSnippet} alt="OpenGameInstaller Code Snippet in Typescript" />
			<div class="flex flex-col justify-center items-start lg:pl-6 gap-4 h-full">
				<h1 class="font-archivo font-semibold text-2xl text-center w-full lg:text-left lg:text-5xl text-accent-dark">Built with Developers First</h1>
				<p class="lg:pr-8 text-lg lg:text-2xl font-open-sans font-medium text-center lg:text-left">Our client is built with developers first. The client is built with addons in mind, giving you as a developer everything you need to succeed.</p>
			</div>
		</div>
	</div>
	<div class="w-full p-4 lg:p-0 min-h-3/4 lg:min-h-screen bg-slate-100 rounded-t-[4rem] -mt-12 flex justify-center items-center flex-col animate-fade-in mb-12">
		<div class="flex justify-center items-center flex-col gap-8 w-full">
			<h1 class="font-archivo font-semibold text-5xl text-accent-dark text-center mt-24 lg:mt-0">Compatible on Steam Deck & Windows PCs</h1>
			<p class="font-open-sans text-sm text-center lg:text-xl font-semibold">Compatible on Gaben's gift to planet Earth and Windows PCs*</p>
			<Image class="w-full lg:w-5/12 rounded-lg object-cover transition-all" src={DeckImage} alt="Steam Deck Image" />
			<p class="text-gray-500 font-open-sans text-sm text-center">*Only Windows PCs that are 64 bit, x86 architecuture. Windows 10/11 only.</p>
		</div>
	</div>
	<footer class="mt-12 w-full h-12 bg-slate-100 flex flex-row justify-start px-4 lg:px-8 items-center">
		<p class="font-open-sans text-gray-500 text-sm">© 2024 Nat3z, with love by the OGI Team.</p>
	</footer>
</Layout>

<script type="module">
	let resolvedHREF = '';
	fetch('https://api.github.com/repos/Nat3z/OpenGameInstaller/releases/latest')
		.then((res) => res.json())
		.then((data) => {
			// get the user agent
			const userAgent = navigator.userAgent;
			// check if the user agent is a windows machine
			if (userAgent.includes('Windows')) {
				// get the windows download link
				resolvedHREF = data.assets.find((asset) => asset.name.includes('-Setup.exe')).browser_download_url;
				document.querySelector('[data-download]')?.setAttribute('href', resolvedHREF);
			} else if (userAgent.includes('Linux')) {
				// get the linux download link
				resolvedHREF = data.assets.find((asset) => asset.name.includes('-Setup.AppImage')).browser_download_url;
				document.querySelector('[data-download]')?.setAttribute('href', resolvedHREF);
			}
			else {
				document.querySelector('[data-download]')?.setAttribute('href', 'error');
				document.querySelector('[data-download]').innerHTML = 'Not Supported';
			}
		})
		.catch((err) => {
			console.error(err);
		});
</script>

<style>
	[href="error"] {
		@apply pointer-events-none cursor-not-allowed bg-red-500 rounded-lg px-6 py-4 font-open-sans text-white flex justify-center items-center gap-2 font-semibold transition-all hover:bg-accent hover:shadow-2xl;
	}

	/* styles.css */
	.container {
		@apply flex justify-center items-center flex-col lg:flex-row gap-8;
	}

	.image {
		@apply min-w-64 w-full lg:w-1/2 shadow-lg rounded-lg object-cover hover:scale-105 transition-all hover:shadow-2xl;
	}

	.text-container {
		@apply flex flex-col justify-center items-start lg:pl-6 gap-4 h-full;
	}

	.title {
		@apply font-archivo font-semibold text-2xl text-center w-full lg:text-left lg:text-5xl text-accent-dark;
	}

	.description {
		@apply lg:pr-8 text-lg lg:text-2xl text-center lg:text-left font-open-sans font-medium;
	}

	.section {
		@apply w-full min-h-[20rem] h-screen bg-slate-100 rounded-t-[4rem] -mt-12 p-8 lg:p-24 flex justify-center items-center flex-col animate-fade-in;
	}

	.section-reverse {
		@apply flex justify-center items-center flex-col-reverse lg:flex-row gap-8;
	}

	.section-dark {
		@apply w-full h-screen bg-slate-200 rounded-t-[4rem] -mt-12 p-24 flex justify-center items-center flex-col animate-fade-in;
	}

	.text-container-reverse {
		@apply flex flex-col justify-center items-start lg:pr-6 gap-4 h-full;
	}

	.title-large {
		@apply font-archivo font-semibold text-5xl text-accent-dark;
	}
</style>